.storageTableRoot {
  height: 400px;
  width: 100%;

  .commands {
    display: flex;
    justify-content: flex-end;
  }

  .expired {
    background-color: orangered;
  }

  .expiring {
    background-color: aqua;
  }
}